/* IMAGES */
.main-image {
  width: 100%;
  max-width: 1280px;
  height: 465px;
  object-fit: cover;
}
.secondary-image {
  width: 100%;
  height: 290px;
  object-fit: cover;
}
.square-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.banner-image {
  width: 100%;
  display: block;
  max-width: 1280px;
  height: 420px;
  object-fit: cover;
  position: relative;
  margin: 20px auto;
}
.secondary-banner {
  width: 100%;
  max-width: 480px;
  height: 205px;
  object-fit: cover;
}



/* IMAGES CONTAINERS */
.banner-group {
  height: fit-content;
  position: relative;
}

.banner-group:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  max-width: 1280px;
  top: 0;
  left: calc(100% / 2 - 640px);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 0.751313025210084) 31%,
    rgba(0, 0, 0, 0) 84%
  );
}

@media screen and (max-width: 1280px) {
  .banner-group:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;

    top: 0;
    left: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 0, 0, 0.751313025210084) 31%,
      rgba(0, 0, 0, 0) 84%
    );
  }
  
}

.imggroup {
  height: fit-content;
  position: relative;
}

.imggroup:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 0.751313025210084) 31%,
    rgba(0, 0, 0, 0) 84%
  );
}
